@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    padding-top: 80px;
}

.back1 {
    background-color: #f9e3ef;
    min-height: 100vh;
}

.main-container {
    margin-top: 20px;
}

.logo {
    height: 50px;
    width: 50px;
}

.hero-logo {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.head1 {
    font-family: "Sans-Serif";
    font-size: 42px;
}

.head2 {
    font-family: "Sans-Serif";
    font-size: 30px;
}

.aboutcard {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px 40px;
    border: 2px solid #ea9dc7;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.product-card {
    height: 100%;
}

.prod {
    height: 170px;
    width: 140px;
    object-fit: cover;
}

.prodpara {
    font-size: 20px;
    text-align: center;
    color: maroon;
}

.o-card {
    background-color: #ea9dc7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 16px;
}

.list-group {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.o-head {
    font-size: 30px;
    font-family: "Sans-Serif";
}

.forme {
    font-family: "Sans-serif";
    font-size: 20px;
}

#sectionmain {
    background-image: url("https://i.pinimg.com/1200x/49/4c/33/494c3300f4451fd7700a18a79681ec5b.jpg");
    background-size: cover;
}

.qr-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.qr-card {
    background: #fff;
    padding: 25px;
    width: 90%;
    max-width: 400px;
    border-radius: 12px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}